*{
    font-family: 'Hind', sans-serif;
    margin: 0;
    top: 0;
}
html{
    min-height: 100vh;
    height: auto;
}
body{
    background:url("./minimalist-cat-wallpaper-1920x1080-v0-ck8qnnh2v0h81.png");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    font-size: 4rem;
    text-align: center;
    color: white;
    margin: 5vh;
    box-sizing: border-box;
}
#btn{
    box-sizing: border-box;
    display: block;
    width: 20vw;
    font-size: 36px;
    margin: 5vh auto;
    background-color: rgba(138, 43, 226, 0.7);
    border: 0;
    color:white;
    border-radius: 10px;
}
#btn:hover {
    background-color: rgba(138, 43, 226,0.9);
    cursor: pointer;
}
.fact-container{
    box-sizing: border-box;
    margin: 5vh auto;
    height: auto;
    width: 60vw;
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
}

@media screen and (max-width: 500px){
    #btn{
        width: 70vw;
        font-size: 24px;
    }
    .fact-container{
        margin: 2vh auto;
        width: 80vw;
        font-size: 24px;
        padding: 20px;
    }
}